[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pylint = "*"
mypy = "*"
black = "*"
types-requests = "*"
coverage = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
pylint_check = 'pylint src/*'
mypy_check = 'mypy src'
run_black = 'black src/*'
